@import url(reset.css);

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
html, body {
    height: 100%;
}



.btn{
    background-color: red;
}

.alutcalc {
    width: 1140px;
    height: 100%;
}


