@import url(reset.css);

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
html, body {
    height: 100%;
}

body{
    background-color: #515151;
}

.btn{
    background-color: red;
}

#alutech-calc{
    height: 100%;
    width: 1140px;
}

